body{
  background: #232741;
}


.container {
  width:35%;
  justify-content: space-between;
  margin-top:7% !important;
  margin: auto;
}

@media only screen and (max-width: 1700px) {
  .container {
    width:50%
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    width:65%
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width:100%
  }
}@media only screen and (max-width: 450px) {
  .container {
    width:100%
  }
}